<div class="calendar" *ngIf="days.length">
    <div class="calendar-header">
      <div class="calendar-title">
        <button (click)="previousMonth()">&lt;</button>
        {{ monthNames[currentMonth] }} {{ currentYear }}
        <button (click)="nextMonth()">&gt;</button>
      </div>
      <div class="calendar-days-header">
        <div *ngFor="let day of daysOfWeek" class="day">{{ day }}</div>
      </div>
    </div>
    <div class="calendar-body">
      <div *ngFor="let day of days" class="day" [class.today]="day.isToday" [class.other-month]="day.isOtherMonth">
        {{ day.date.getDate() }}
        <div *ngFor="let event of day.events">
          {{ event.description }}
        </div>
        <input [(ngModel)]="newEventDescription" placeholder="Add event">
        <button (click)="addEvent(day.date)">Add</button>
      </div>
    </div>
  </div>
  